#project {
    border: 5px solid yellow;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

#projectheading {
    /* min-height: 20vh; */
    padding: 2vw;
    padding-bottom: 0;
    margin-top: 12vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-shadow: 0 13.36px 8.896px #b49dc4, 0 -2px 1px #fff;
    /* border: 5px solid rgb(62, 67, 77); */

}

#projectheading p {
    font-size: calc(5rem + 2vw);
    color: white;
    font-weight: 900;
}

#projectheading p span {
    color: rgb(218, 178, 3);
}


#project_big_box {

    /* border: 5px solid rgb(204, 204, 202); */
    /* height: 100vh; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
    /* padding: 50px; */


}

.project_sub_box {
    /* border: 5px solid rgb(136, 0, 0); */
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    /* max-height: 32vw; */
    /* max-width: 32vw; */
    /* max-height: 70vh; */
    /* max-width: 70vh; */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 10px;
    box-shadow:
        0 0 15px 0px #bb1600,
        0 0 15px 0px #efff14;

}

.project_sub_box_bg {
    /* border: 5px solid rgb(136, 136, 0); */
    margin: 5px 2px;
    height: 210px;
    /* height: auto; */
    /* width: 30vh; */
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow:
        0 0 15px 0px #bb1600,
        0 0 15px 0px #efff14; */


    /* background-image: url("..\\img\\project_tributepage.png");
    background-size: cover;
    background-repeat: no-repeat; */

    /* background-color: aqua; */
    /* background-attachment: fixed; */

}

.sub_box_project_heading {
    /* border: 5px solid rgb(138, 139, 138); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.phleft,
.phright {
    /* border: 5px solid green; */
    /* position: relative; */
    left: -5px;
    /* top: 10px; */
    margin: 0 10px 0 0;
    background-image: linear-gradient(45deg, rgb(0, 83, 236), rgb(184, 104, 0));
    border-radius: 30px;
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    /* box-shadow:
        0 0 15px 0px #bb6a00,
        0 0 15px 0px #efff14; */


}

.sub_box_project_heading p {
    font-size: calc(10px + 0.8vw);
    color: white;
    font-weight: 600;

}

.project_sub_box_bg img {
    /* width: 100%; */
    height: 100%;
    /* width: 40vw; */
    /* max-height: 30vw; */


}

.sub_box_project_heading a {
    text-decoration: none;
}

.phright:hover {
    text-decoration: none;
    box-shadow:
        0 0 15px 0px #bb0000,
        0 0 15px 0px #5e0083;

}

@media (max-width: 700px) {
    .project_sub_box_bg {

        /* height: auto; */
        /* width: vh; */

        /* height: 35vw; */
        /* width: fit-content; */
        width: 70vw;
        /* background-size: contain; */
        height: fit-content;

    }

    .project_sub_box_bg img {

        width: 100%;
        /* width: 40vw; */
        /* max-height: 30vw; */

        /* height: 100%; */


    }


    .sub_box_project_heading p {
        font-size: calc(5px + 2.2vw);


    }
}